/* Use Point - Input */
.container {
  margin-top: 150px;
}

table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 50px;
}

tr {
  padding-bottom: 200px;
}

span {
  font-size: 2rem;
}

.text {
  margin-right: 20px;
}

.point {
  margin-left: 18px;
}

.willuse {
  width: 80px;
  height: 50px;
  font-size: 2rem;
  text-align: center;
}

.confirm {
  text-align: center;
  margin-top: 50px;
}

.confirmBtn {
  background-color: skyblue;
  outline: none;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}
