/* Get Point - PostPic */
body {
  text-align: center;
}

.store_title {
  margin-top: 80px;
  margin-bottom: 50px;
}

.checkBoxs {
  margin-right: 230px;
  margin-top: 40px;
}

input {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.pickImgBtn {
  background-color: lightgray;
  border: 0;
  outline: none;
  width: 48px;
  height: 32px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 5px;
}

.pickImgBtn > img {
  width: 100%;
  height: 100%;
}

.confirmBtn {
  background-color: skyblue;
  outline: none;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  margin: 5px;
}
