/* Get Point - Loading */
body {
  text-align: center;
}

.message {
  margin-top: 200px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 5px;
  border-radius: 50%;
  background-color: black;
}
